<html ng-app="allegra-chat">
    <head>
        <title>Hello</title>
        <link rel="stylesheet" type="text/css" href="css/main.css" />
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.min.js"></script>
        <script src="./src/common/controllers/chat.controller.js"></script>
    </head>
    <body>
        <div id="center">
            <div ng-controller="ChatCtrl" >
                <div id="login" ng-show="!isLoggedIn && !isLoading">
                    <form ng-submit="login()">
                        <input type="text" ng-model="login.username" placeholder="Name" required autofocus>
                        <input type="password"  ng-model="login.password" placeholder="Password" required>
                        <button type="submit">Log in...</button>
                    </form>
                </div>
                <div id="chatroom" ng-show="isLoggedIn && !isLoading" >
                    <div id="header" >
                        <img src="assets/batcave.png" />
                    </div>
                    <div id="tableView" >
                        
                        <table id="table0">
                            <tr ng-repeat="mess in messages">
                            <td>
                            <div class="cell">
                                <div class="name"> 
                                {{mess.username}}
                                <span class="time"></span>
                                </div>
                                <div class="message">{{mess.content}}</div>
                            </div>
                            </td>
                            </tr>
                        </table>
                    </div>
                   <!-- <textarea ng-model="message.content"  /> -->  
                    <div id="textWrapper">
                        <textarea type="text" ng-model="message.content" ng-keyup="$event.keyCode == 13 ? sendMessage() : null" />
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>